<div class="container mt-4">
    <div class="row">
        <div class="col-lg-3">
            <div class="course-Card">
                <h5 class="">Học {{course.name}} bước khởi đầu trở thành nhà phát triển web chuyên nghiệp.</h5>
                <div class="course_link"><a href="/me/stored/courses">Mua Ngay</a></div>
                <ul>
                    <li><i class="fa-solid fa-check"></i> Tổng số {{course.timeCourse}} bài học</li>
                    <li><i class="fa-solid fa-check"></i> {{course.level}}</li>
                    <li><i class="fa-solid fa-check"></i> Thời lượng {{course.timeCourse}}giờ{{course.timeCourse}} phút</li>
                     <li><i class="fa-solid fa-check"></i> Học mọi lúc, mọi nơi</li>
                </ul>
            </div>

             <div class="course-Card1">
                <div class="logo-course">
                    <img src="https://files.fullstack.edu.vn/f8-prod/user_avatars/1/623d4b2d95cec.png" alt="logo-course" >
                    <h5><a class="text-course" href="/">F8 Education</a></h5>
                    <h5>Bạn Cần Những Kiến Thức Cơ Bản Gì Bắt Đầu Học Khóa Này?</h5>
                </div>
                <ul>
                    <li>Các khái niệm, thuật ngữ cốt lõi khi triển khai ứng dụng</li>
                    <li>Các kiến thức cơ bản, nền móng của ngành IT</li>
                    <li>Hiểu hơn về cách internet và máy vi tính hoạt động</li>
                     <li>Học mọi lúc, mọi nơi</li>
                </ul>
            </div>
        </div>

        <div class="col-lg-9">
            <div class="course_vid">
           <h1> Cách dễ nhất để học {{course.name}} cho người mới bắt đầu!</h1>
            <iframe src="https://www.youtube.com/embed/{{course.videoId}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>{{course.description}}</p>
            </div>
        </div>
    </div>






    <div id="banner carouselExampleIndicators" class="banner carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    
     <div class="banner_home carousel-item active">
     <div class="d-flex align-items-center justify-content-between">
       <div class="Slideshow_right">
        <h2 class="Slideshow_headering">F8 Trên Facebook</h2>
        <p>F8 được nhắc tới ở mọi nơi, ở đâu có cơ hội việc làm cho nghề IT và có những con người yêu thích lập trình F8 sẽ ở đó.</p>
        <div class="Slideshow_face"><a href="https://www.facebook.com/f8vnofficial">Truy cập Facebook</a></div>
      </div>


      <div class="Slideshow_right">
        <a href="https://www.facebook.com/f8vnofficial">
        <img class="Slideshow_img" src="https://files.fullstack.edu.vn/f8-prod/banners/Banner_04_2.png" alt="F8 trên Facebook" title="F8 trên Facebook">
       </a></div>
      <div>
     </div>
    </div>
  </div>

  <div class="banner_home1 carousel-item ">
     <div class="d-flex align-items-center justify-content-between">
       <div class="Slideshow_right">
        <h2 class="Slideshow_headering">Học ReactJS</h2>
        <p>Khóa học ReactJS từ cơ bản tới nâng cao. Kết quả của khóa học này là bạn có thể làm hầu hết các dự án thường gặp với ReactJS.</p>
        <div class="Slideshow_face"><a href="/">Mua Ngay</a></div>
      </div>


      <div class="Slideshow_right">
        <a href="https://www.facebook.com/f8vnofficial">
        <img class="Slideshow_img" src="https://files.fullstack.edu.vn/f8-prod/banners/Banner_web_ReactJS.png" alt="F8 trên Facebook" title="F8 trên Facebook">
       </a></div>
      <div>
     </div>
    </div>
  </div>


    <div class="banner_home2 carousel-item">
     <div class="d-flex align-items-center justify-content-between">
       <div class="Slideshow_right">
        <h2 class="Slideshow_headering">F8 trên Youtube</h2>
        <p>F8 được nhắc tới ở mọi nơi, ở đâu có cơ hội việc làm cho nghề IT và có những con người yêu thích lập trình F8 sẽ ở đó.</p>
        <div class="Slideshow_face"><a href="https://www.youtube.com/channel/UCNSCWwgW-rwmoE3Yc4WmJhw">Truy cập Youtube</a></div>
      </div>


      <div class="Slideshow_right">
        <a href="https://www.youtube.com/channel/UCNSCWwgW-rwmoE3Yc4WmJhw">
        <img class="Slideshow_img" src="https://files.fullstack.edu.vn/f8-prod/banners/Banner_03_youtube.png" alt="F8 trên Facebook" title="F8 trên Facebook">
       </a></div>
      <div>
     </div>
    </div>
  </div>


  <a class="Prev_banner-home carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="Prev_banner-home carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class=" carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
</div>  